<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/style.css" />
        <title> Movies </title>
    </head>
    <body>
        <header>
            <h1>Movies</h1>
            <%- include('./includes/nav.ejs') %>
            <main>
                <% movies.forEach((movie) => {%>
                    <div>
                        <h2><%= movie.title %></h2>
                        <img src="<%= movie.logo %> " alt="<%= movie.title %>"/>
                        <p><%= movie.director %></p>
                        <p><%= movie.year %></p>
                        <div class="click">
                            <a href="/api/get/<%= movie.id %>">More info</a>
                        </div>
                        <div class="click">
                            <a href="/api/update-movie/<%= movie.id %>">Update</a>
                        </div>
                        <div class="click">
                            <a href="/api/delete/<%= movie.id %>">Delete</a>
                        </div>
                    </div>
               <% }); %>
            </main>
        </header>
    </body>
</html>